{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}

<main>
    <nav class="navbar navbar-expand-xl navbar-dark bg-dark p-2" aria-label="Sixth navbar example">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">PokéBio</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample06" aria-controls="navbarsExample06" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExample06">
        <ul class="navbar-nav me-auto mb-2 mb-xl-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="{{path('dashboard')}}">Accueil</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('produits_index')}}">Produits</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{{path('contacts_index')}}">Contacts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{{path('blog_index')}}">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{path('user_index')}}">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{{path('home')}}">Site</a>
          </li>
          
          
        </ul>
        <form>
          <a href="{{path('app_logout')}}" type="button" placeholder="Search" aria-label="Search">Déconnexion</a>

        </form>
      </div>
    </div>
  </nav>
    <div class="container mt-5">

    <h1>User</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Roles</th>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('user_index') }}">back to list</a>

    <a href="{{ path('user_edit', {'id': user.id}) }}">edit</a>

    {{ include('user/_delete_form.html.twig') }}
    </div>
    </main>
{% endblock %}
